body {
  font-family: helvetica;
}

.hidden {
  display: none;
}

#password_strength {
  font-family: arial;
  font-weight: bold;
  font-size: 12pt;
  width: 135px;
  height: 45px;
  position: absolute;
  padding: 5px;
  overflow: hidden;
}

.bar {
  margin-top: 24px;
  position: absolute;
  z-index: 3;
  height: 6px;
  overflow: hidden;
}

.meter {
  font-size: 5px;
  white-space: nowrap;
}

.invalid .bar {
  background-color: red;
  color: red;
  width: 140px;
}

.none .bar {
  background-color: #222;
  color: #222;
}

.weak .bar {
  background-color: red;
  color: red;
}

.good .bar {
  background-color: #EF802C;
  color: #EF802C;
}

.strong .bar {
  background-color: #008F28;
  color: #008F28;
}

.very_strong .bar {
  background-color: #06F;
  color: #06F;
}

.score {
  font-size: 0px;
}

.message {
  z-index: 2;
  position: absolute;
  padding: 5px 5px 5px 0;
}

