body {
  font-family: helvetica;
}

.hidden {
  display: none;
}

.score {
  position: absolute;
  margin-top: -25px;
  margin-left: 210px;
  padding: 5px;
}

.none {
  border: 1px solid #444;
  color: #444;
  background-color: #CCC;
}

.weak {
  border: 1px solid #8F0000;
  color: #8F0000;
  background-color: #E57D7D;
}

.good {
  border: 1px solid #FB0;
  color: #FB0;
  background-color: #FF9;
}

.strong {
  border: 1px solid #060;
  color: #060;
  background-color: #6F6;
}

.very_strong {
  border: 1px solid #36C;
  color: #36C;
  background-color: #6CF;
}

.invalid {
  border: 1px solid #F60;
  color: #F60;
  background-color: #FC9;
}
